<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuaystoneBusinessSolutions.FirebellyTeamScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuaystoneBusinessSolutions.FirebellyTeamScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <QuaystoneBusinessSolutions.FirebellyTeamScheduler.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Dsn=WorktopsDSN</value>
            </setting>
            <setting name="SalesOrdersDocumentFolder" serializeAs="String">
                <value>C:\Firebelly\Sales Orders</value>
            </setting>
            <setting name="ExcludedFileExtensions" serializeAs="String">
                <value>.dll;.exe;.bat;.msi</value>
            </setting>
            <setting name="NoTeamSetCalendarName" serializeAs="String">
                <value>Firebelly</value>
            </setting>
            <setting name="NoTeamSetCalendarDescription" serializeAs="String">
                <value>Firebelly (No Team) Calendar  [0]</value>
            </setting>
            <setting name="NoTeamSetName" serializeAs="String">
                <value>Not set</value>
            </setting>
            <setting name="UsingMicrosoftExchangeServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicrosoftExchangeServerFirebellyRootFolder" serializeAs="String">
                <value>Firebelly</value>
            </setting>
            <setting name="TaemTag" serializeAs="String">
                <value>http://schemas.microsoft.com/mapi/proptag/0x7FFF0003</value>
            </setting>
            <setting name="Logging_EventLogName" serializeAs="String">
                <value>Application</value>
            </setting>
            <setting name="LogLocalFileName" serializeAs="String">
                <value>FTS_LogFile.txt</value>
            </setting>
        </QuaystoneBusinessSolutions.FirebellyTeamScheduler.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <QuaystoneBusinessSolutions.FirebellyTeamScheduler.Properties.Settings>
            <setting name="LogToEventLogOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogToLocalFileOn" serializeAs="String">
                <value>True</value>
            </setting>
        </QuaystoneBusinessSolutions.FirebellyTeamScheduler.Properties.Settings>
    </userSettings>
</configuration>