<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FirebellyScheduler.Properties.Settings.FirebellyConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\FirebellyScheduler\worktop_Demo.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>