<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FireBellyMoraware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FireBellyMoraware.Properties.Settings>
            <setting name="JWT" serializeAs="String">
                <value>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYiI6ImJlbGxhZ2lvc3RvbmV0ZXN0In0.223LkT70v3ItT0uhIM8IckEbDqOmyCmuZEBDFcQARfo</value>
            </setting>
        </FireBellyMoraware.Properties.Settings>
    </applicationSettings>
</configuration>